# PYTHON section
# See https://www.python.org

PYTHON_3_11=python3.11
PYTHON=${PYTHON_3_11}

PYTHON_3_11_PATH=/usr/bin/python3.11
PYTHON_PATH=${PYTHON_3_11_PATH}

PYTHON_BASE_PATH=${APP_STACK_PATH}/python
PYTHON_VENV_BASE_PATH=${PYTHON_BASE_PATH}/virtualenvs
PYTHON_VENV_APP_NAME=${APP_PROJECT_NAME}-virtualenv
PYTHON_VENV_TOOLS_NAME=main-virtualenv

# end PYTHON section