# JDK Download section

# Revised on 2026-06-01 (june 1st, 2026)

# Downloading java version lower than 9 is up to you
# See https://jdk.java.net/archive/

# Former JDK_BASE_PATH. ${HOME} value deprecated, use ${APP_PROJECT_PATH} instead
# JDK_BASE_PATH=${HOME}/java
# Uncomment if you want to use specific path
# JDK_BASE_PATH=${APP_PROJECT_PATH}/java
# Uncomment if you want to use stack path
JDK_BASE_PATH=${APP_STACK_PATH}/java

JDK11_BASEURL=https://download.java.net/java/ga/jdk11/
JDK11_LINUX_FILE=openjdk-11_linux-x64_bin.tar.gz
JDK11_WINDOWS_FILE=openjdk-11_windows-x64_bin.zip
# Uncomment if you want to use specific application path
# JDK11_TARGET=${JDK_BASE_PATH}/${APP_NAME}
# Uncomment if you want to use stack path
JDK11_TARGET=${JDK_BASE_PATH}/main
# JDK11_URL=https://download.java.net/java/ga/jdk11/openjdk-11_linux-x64_bin.tar.gz

JDK_BASEURL=$JDK11_BASEURL
JDK_LINUX_FILE=$JDK11_LINUX_FILE
JDK_WINDOWS_FILE=$JDK11_WINDOWS_FILE

JDK_TARGET=$JDK11_TARGET

# End JDK Download section

# jdk section
# set here previously installed jdk path

OPENJDK11_HOME=$JDK11_TARGET/jdk-11

# JDK11 settings
JAVA_HOME=$OPENJDK11_HOME
JDK_HOME=$OPENJDK11_HOME
# end of JDK11 settings

# end jdk section